# Node modules
backend/node_modules/
frontend/node_modules/

# Environment variables
backend/.env
frontend/.env

# Build output (for frontend, like React)
frontend/build/
frontend/dist/

# Logs
*.log

# OS and editor files
.DS_Store
.vscode/
